* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid rgba(255, 255, 255, 0.18); */
    font-family: 'San Francisco', sans-serif;
    color: white;
    cursor: default;
}

.top-bar {
    position: fixed;
    height: 25px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.22);
    overflow: hidden;
    z-index: 1;
}

html {
    -webkit-app-region: drag;
    margin: 0 auto;
    user-select: none;
}

body {
    background: linear-gradient(to left top, #0D3C8B, #854136);
}


/* CSS for movie selection section */

.movies-wrapper {
    /* display: none; */
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto;
    user-select: none;
    overflow-y: scroll;
}

.content {
    width: 100%;
    height: 100%;
    /* margin: 10vh auto; */
    /* margin: 0 auto; */
    /* background: #ffffff; */
    overflow: scroll;
}


/* Styling for movie card and info box */

.card {
    -webkit-app-region: no-drag;
    position: relative;
    width: 740px;
    height: 260px;
    margin: 50px auto;
    box-shadow: 0 27px 40px rgba(42, 42, 42, 0.46);
    transition: .5s ease-in;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 8px 32px 45px rgba(42, 42, 42, 0.46);
    transition: .5s ease-out;
}

.movie-info {
    position: relative;
    top: 150px;
    margin: 0 auto;
    width: 700px;
    height: 90px;
}

h2 {
    text-transform: uppercase;
    font-size: 15px;
    color: #E37270;
}

h1 {
    font-family: 20px;
    font-weight: 100;
    margin: 0;
}

.circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-top: 5px;
    border: 1px solid #E37270;
    border-radius: 50%;
    padding-top: 3px;
}

h6 {
    margin-top: -2px;
    margin-left: 2px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}

p {
    margin-left: 5px;
    display: inline-flex;
    font-size: 15px;
    font-weight: 100;
}

.play-btn {}

.file-size {
    margin-top: 20px;
    float: right;
    font-size: 15px;
    color: #E37270;
}


/* Add movie images under here */

.bunny {
    background: url(../images/bunny.png) no-repeat;
    background-size: contain;
}

.interstellar {
    background: url(../images/interstellar.png) no-repeat;
    background-size: contain;
}

.warcraft {
    background: url(../images/warcraft.png) no-repeat;
    background-size: contain;
}

.sintel {
    background: url(../images/sintel.png) no-repeat;
    background-size: contain;
}

.skyfall {
    background: url(../images/skyfall.png) no-repeat;
    background-size: contain;
}

.civil-war {
    background: url(../images/civil-war.png) no-repeat;
    background-size: contain;
}

.upload-card {
    -webkit-app-region: no-drag;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 740px;
    height: 260px;
    margin: 50px auto;
    box-shadow: 0 27px 40px rgba(42, 42, 42, 0.46);
    transition: .5s ease-in;
    border: 5px dashed rgba(255, 255, 255, 0.2);
}

.upload-card:hover {
    transform: scale(1.02);
    box-shadow: 8px 32px 45px rgba(42, 42, 42, 0.46);
    transition: .5s ease-out;
}

h3 {
    font-size: 20px;
    font-weight: 100;
    size: 100%;
    width: 700px;
    word-break: break-all;
    text-align: center;
    user-select: text;
}

a {
    margin: 0 auto;
    display: block;
    width: 740px;
    text-decoration: none;
}


/* CSS for video player and containing elements */

video {
    -webkit-app-region: no-drag;
    position: relative;
    background-color: black;
    top: -90px;
    width: 740px;
    height: 260px;
    margin: 0;
    padding: 0;
    z-index: 1;
}

video::-webkit-media-controls-panel {
    background-color: rgba(0, 0, 0, 0.2);
}

.close {
    background-image: url(../images/close-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    z-index: 2;
    margin: 20px;
    cursor: pointer;
}

.hidden {
    display: none;
}
